/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin-inline: auto;
  font-family: 'Inter-Variable', sans-serif;
  font-variation-settings: 'wght' var(--regular-text);
  max-inline-size: 696px;
  background-color: var(--page-background-color);
  color: var(--accent-color);
  background-image: var(--page-background-image);
  background-attachment: fixed;
  background-size: cover;
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
}

.header {
  margin-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--accent-color);
  font-family: 'PressStart2P', 'Copperplate', fantasy;
  text-transform: uppercase;
  background-color: var(--page-background-color);
  block-size: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
}

.header-title {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  padding-block-end: 20px;
  margin-block-start: clamp(6.25rem, 5.625rem + 1.667vw, 7.125rem);
}

.header-subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding-inline-start: clamp(1.25rem, 1.429rem + -0.476vw, 1rem);
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--content-title-color);
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:after {
  content: '';
  display: block;
  transform: scaleX(0);
  transform-origin: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  opacity: 0.6;
}

.theme-menu__button[disabled] {
  position: relative;
  opacity: 0.6;
}

.theme-menu__button[disabled]::before {
  content: '▶';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -12px;
  animation: active-button 0.5s infinite ease-in-out alternate;
}

.card__image-container {
  position: relative;
}

.card-image {
  border-block: solid 2px var(--accent-color);
  block-size: 100%;
  inline-size: 100%;
}

.card-label {
  font-family: 'PressStart2P', 'Copperplate', fantasy;
  color: var(--accent-color);
  position: absolute;
  z-index: 1;
  top: 25px;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: -1px -1px 0 var(--page-background-color),
  1px -1px 0 var(--page-background-color),
  -1px 1px 0 var(--page-background-color),
  1px 1px var(--page-background-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card-label {
    -webkit-text-stroke: 1px var(--page-background-color);
    text-stroke: 1px var(--page-background-color);
    text-shadow: none;
  }
}

.card:nth-child(1) .card-image {
  filter: sepia(2);
}

.card:nth-child(2) .card-image {
  filter: saturate(0.5);
}

.card:nth-child(3) .card-image {
  filter: grayscale(1) blur(2px);
}

.card:nth-child(4) .card-image {
  filter: brightness(140%);
}

.card:nth-child(5) .card-image {
  filter: opacity(0.5);
}

.card:nth-child(6) .card-image {
  filter: invert(0.9);
}

.card:nth-child(7) .card-image {
  filter: hue-rotate(300deg);
}

.card:nth-child(8) .card-image {
  filter: contrast(150%);
}

.card {
  border: solid 2px var(--accent-color);
  background-color: var(--page-background-color);
  margin-block-end: 50px;
}

.card-title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--bold-text);
  padding-inline-start: clamp(0.75rem, 0.929rem + -0.476vw, 0.5rem);
  letter-spacing: 0.01em;
  padding-block: clamp(0.27rem, 0.134rem + 0.362vw, 0.46rem);
}

.card-text {
  font-size: 18px;
  padding: 23px 26px 0;
  line-height: 1.183em;
}

.button {
  cursor: pointer;
  background-color: transparent;
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: 'PressStart2P', 'Copperplate', fantasy;
  font-size: 14px;
  transition: mix-blend-mode 0.5s;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.floppy-icon {
  width: 21px;
  aspect-ratio: 1 / 1;
  transition: mix-blend-mode 0.5s;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button {
  display: block;
  position: relative;
  inline-size: 130px;
  block-size: 38px;
  border: solid 2px var(--accent-color);
  margin-block: 25px;
  margin-inline-end: 25px;
}

.card__like-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  outline-color: transparent;
  background-color: transparent;
  border: none;
  inline-size: 38px;
  block-size: 38px;
  margin-inline-end: 4px;
  padding: 0;
  transition: outline-color .3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px var(--accent-color);
  outline-offset: -2px;

}

.like-icon {
  margin-block-start: 2px;
}

.heart {
  cursor: pointer;
  transition: transform 0.3s;
}

.card:focus {
  outline: none;
}

.heart:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.heart:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.heart:active .core,
.heart:active .main-body {
  fill: red;
}

.like-icon.is-liked .contour {
  transition: fill 0.06s;
}

.contour {
  transition: fill 0.01s linear;
}

.like-icon.is-liked .heart path {
  fill: red;
  animation: heart-scale 0.3s 0.1s ease-in;
  transform-origin: 50%;
}

.like-icon.is-liked .sparks {
  fill: none;
  animation: heart-sparks 0.3s 0.3s ease-in;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.page__save-button {
  inline-size: clamp(19.125rem, 17.83rem + 3.452vw, 20.938rem);
  block-size: 55px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  background-color: var(--page-background-color);
  border: solid 2px var(--accent-color);
  margin-block-end: 105px;
}

@media (max-width: 376px) {
  .page__save-button {
    flex-direction: column;
    justify-content: space-evenly;
    block-size: 80px;
  }

  .floppy-icon {
    width: 28px;
    margin-block-start: 10px;
  }

  .floppy-icon .button__text {
    margin-block-start: 10px;
  }

  #modal-floppy-insert .floppy-icon {
    margin-block-start: 0;
    justify-self: end;
  }

  #modal-floppy-insert  p.modal-text {
    padding-inline-start: 22px;
  }

  #modal-floppy-insert .modal-submit-button {
    inline-size: 257px;
  }
}

#modal-floppy-insert {
  grid-template-columns: 20% 80%;
  inline-size: 357px;
  block-size: 193px;
  border: solid 2px var(--accent-color);
  background-color: var(--page-background-color);
  opacity: .5;
  align-items: center;
  justify-items: center;
}
#modal-floppy-insert[open] {
  display: grid;
}

#modal-floppy-insert::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

#modal-floppy-insert .floppy-icon {
  width: 40px;
}

.modal-text {
  text-transform: uppercase;
  padding-inline-start: 10px;
  line-height: 1.6em;
}

.modal-submit-button {
  inline-size: 293px;
  block-size: 38px;
  grid-column-end: span 2;
  background-color: transparent;
  border: solid 2px var(--accent-color);
}
